<div id="canvas-container" [style.width.px]="previewWidth" [style.height.px]="previewHeight">
    <canvas
        id="canvas"
        #baseCanvas
        [(attr.width)]="width"
        [(attr.height)]="height"
        [ngClass]="{
            rightResizeCursor: rightResize,
            buttonResizeCursor: buttonResize,
            cornerCursor: cornerResize
        }"
    ></canvas>
    <canvas
        id="previewLayer"
        #previewCanvas
        [(attr.width)]="width"
        [(attr.height)]="height"
        [ngClass]="{
            rightResizeCursor: rightResize,
            buttonResizeCursor: buttonResize,
            cornerCursor: cornerResize
        }"
    ></canvas>
    <canvas
        id="resizePreview"
        #resizePreview
        [attr.width]="previewWidth"
        [attr.height]="previewHeight"
        [ngClass]="{
            eraserCursor: toolsController.isCurrentTool(ToolSelector.Eraser),
            normalCursor: !toolsController.isCurrentTool(ToolSelector.Eraser) && !toolsController.isCurrentTool(ToolSelector.Etampe),
            noCursor: disableCursor(),
            rightResizeCursor: rightResize,
            buttonResizeCursor: buttonResize,
            cornerCursor: cornerResize
        }"
    >
    </canvas>
</div>
