<div id="guest">
  <h1>Recherches</h1>
  <div class="divider"></div>
  <label for="name">Nom de l'animal</label>
  <input type="text" id="name" name="name">
  <button type="button" class="submitbtn" (click)="updateAnimalName()">+</button>
  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">NUMÉRO ANIMAL</th>
      <th class="contentCell">NUMÉRO CLINIQUE</th>
      <th class="contentCell">NUMÉRO PROPIÉTAIRE</th>
      <th class="contentCell">NOM</th>
      <th class="contentCell">TYPE</th>
      <th class="contentCell">TAILLE</th>
      <th class="contentCell">ESPÈCE</th>
      <th class="contentCell">POIDS</th>
      <th class="contentCell">DESCRIPTION</th>
      <th class="contentCell">DATE DE NAISSANCE</th>
      <th class="contentCell">DATE D'INSCRIPTION</th>
      <th class="contentCell">EST VACCINÉ?</th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals; let i = index">
        <td class="contentCell" > {{ animal.noanimal}}</td>
        <td class="contentCell"  >{{ animal.noclinique}}</td>
        <td class="contentCell" >{{ animal.noproprietaire }}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeName($event, i)">{{ animal.name}}</td>
        <td class="contentCell" contenteditable="true"(blur) = "changeType($event, i)" >{{ animal.type }}</td>
        <td class="contentCell" contenteditable="true"(blur) = "changeSize($event, i)">{{animal.taille}}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeSpecies($event,i)">{{ animal.espece }}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeWeight($event,i)">{{ animal.poids }}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeDescription($event,i)">{{ animal.description }}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeDateBirth($event,i)">{{ animal.datenaissance }}</td>
        <td class="contentCell" contenteditable="true" (blur) = "changeDateInscription($event,i)" >{{ animal.dateinscription }}</td>
        <td class="contentCell" contenteditable="true"(blur) = "changeIsVaccinated($event,i)" >{{ animal.estvaccine }}</td>
      </tr>
    </tbody>
  </table>
</div>

